@media only screen and (min-width: 320px) {
    .about-section {
        margin: 4rem 0;
    }

    h2 span { 
        color: #FA4659; 
        font-size: 1.5rem;
        /* padding:0 10px;  */
    }

    .profile-img {
        width: 18rem; 
        margin-left: 1.2rem;
    }

    .project-name {
        font-size: 1.3rem;
        text-align: center;
        margin-top: .5rem;
    }

    .info {
        background-color: #FCFCFC;
        font-family: 'Roboto', sans-serif;
    }
}

@media only screen and (min-width: 640px) {
    h2 span { 
        color: #FA4659; 
        font-size: 1.8rem;
        /* padding:0 10px;  */
    }

    .profile-img {
        margin-top: 3rem;
        width: 20rem; 
    }

    .info {
        width: 21rem;
        float: right;
        font-family: 'Roboto', sans-serif;
    }
}

@media only screen and (min-width: 960px) {
    .about-section {
        margin: 5rem 0;
    }
    
    .profile-img {
        width: 22rem; 
        margin-left: 7rem;
    }

    .info {
        width: 35rem;
        margin-right: 10rem;
    }

    .project-name {
        font-size: 1.5rem;
        text-align: center;
    }
}

.about-section h2 {
    width: 100%; 
    text-align: center; 
    /* border-bottom: 1px solid #FA4659; 
    line-height: 0.1em; */
    /* margin: 10px 0 20px;  */
 } 
 


.about-container {
    /* background-color: #FCFCFC; */
    /* padding-right: 50%; */
    /* align-self: auto; */
}

.about {
    width: 25%;
    display: inline-block;
}

.about-skills {
    /* float: right; */
}

.about-box-one {
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: #FCFCFC;
}

.about-box-two {
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: #FCFCFC;
    background: url(https://images.unsplash.com/photo-1518658963559-3698900fc8a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aefc46a158500b5950d052278a793663&auto=format&fit=crop&w=1267&q=80) no-repeat center center; 
    background-size: cover;
}

.about-box-three {
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: #FCFCFC;
    background: url(https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b63db904d2c72377ffc588f645eb45&auto=format&fit=crop&w=2550&q=80) no-repeat center center; 
    background-size: cover;
}

.about-box-four {
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: #FCFCFC;
}



