@media only screen and (min-width: 320px) {
    .github-img {
        width: 2rem;
    }
    
    
    .linked-in-img {
        width: 2rem;
        display: inline-block;
    }
    
    .email-img {
        width: 2rem;
        display: inline-block;
    }
    
    .angel-list-img {
        width: 2rem;
        display: inline-block;
    }
}

.contact-text {
    font-size: 1.8rem;
    color: #FCFCFC;
}

.contact-p {
    padding: 2rem 0;
}

.contact-wrapper {
    text-align: center;
    background-color: #33CCCC;
    color: #2C2C2C;
    width: 100%;
    padding: 5rem 0;
    /* height: 600px; */
}
/* @media only screen and (min-width: 640px) {
    
}

@media only screen and (min-width: 960px) {
    .contact-section {
        margin: 5rem 0;
    }
}

@media only screen and (min-width: 1024px) {
    .contact-section {
        margin-top: 14rem;
    }
} */

/* .contact-section {
    margin: 4rem 0;
} */



/* .contact-section h2 {
    width: 100%; 
    text-align: center; 
    margin: 10px 0 20px; 
 } */






