@media only screen and (min-width: 320px) {
    .github-img {
        width: 2rem;
    }
    
    
    .linked-in-img {
        width: 2rem;
        display: inline-block;
    }
    
    .email-img {
        width: 2rem;
        display: inline-block;
    }
    
    .angel-list-img {
        width: 2rem;
        display: inline-block;
    }
}

@media only screen and (min-width: 320px) {
    
}

/* @media only screen and (min-width: 640px) {
    
}

@media only screen and (min-width: 960px) {
    .contact-section {
        margin: 5rem 0;
    }
}

@media only screen and (min-width: 1024px) {
    .contact-section {
        margin-top: 14rem;
    }
} */

.contact-section {
    margin: 4rem 0;
}



.contact-section h2 {
    width: 100%; 
    text-align: center; 
    /* border-bottom: 1px solid #FA4659; 
    line-height: 0.1em; */
    margin: 10px 0 20px; 
 }

 .contact-wrapper {
     text-align: center;
     background-color: #33CCCC;
     color: #2C2C2C;
     width: 100%;
     padding: 4rem 0;
     /* height: 600px; */
 }


