.contact-section h2 {
    width: 100%; 
    text-align: center; 
    /* border-bottom: 1px solid #FA4659; 
    line-height: 0.1em; */
    margin: 10px 0 20px; 
 }

 .contact-wrapper {
     text-align: center;
     background-color: #33CCCC;
     color: #FCFCFC;
     width: 100%;
     height: 600px;
 }