/* red-#FA4659 */
/* brown-#2C2C2C */
/* white-##FCFCFC */
/* blue-##33CCCC */
/* dark blue - #264e86 */
/* font-family: 'Armata', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

body {
    background-color: #FCFCFC;
    font-family: 'Armata', sans-serif;
}

header {
    padding: 20px 15px;
}

/* .header-container {
    position: fixed;
} */



/* @media only screen and (min-width: 640px) {
    body {
        background-color: white;
    }
} */

@media only screen and (min-width: 320px) {
    #logo {
        width: 3rem;
        height: 3rem;
        background-color: #33CCCC;
        text-align: center;
        display: inline-block;
    }

    .title {
        padding: 7rem 0;
    }

    .title h1 {
        color: #FCFCFC;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 7rem;
    }

    .title h2 {
        padding-bottom: 2rem;
        color: #FCFCFC;
        font-size: 2rem;
        text-align: center;
    }

    p {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: #2C2C2C;
    }
}

@media only screen and (min-width: 960px) {
    #logo {
        width: 60px;
        height: 60px;
        background-color: #33CCCC;
        text-align: center;
        display: inline-block;
    }

    .title {
        /* background: url(https://images.unsplash.com/photo-1522092787785-60123fde65c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94d6ebf03fdc6a3c8159ac9aeceb0483&auto=format&fit=crop&w=800&q=60) no-repeat center; */
        padding: 15rem 0;
    }

    .title h1 {
        color: #FCFCFC;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 6rem;
    }

    .title h2 {
        padding-bottom: 2rem;
        color: #FCFCFC;
        font-size: 2.5rem;
        text-align: center;
    }
}



.nav-bar {
   float: right;
   /* padding-left: 52rem; */
}

.nav-bar a {
    color: #2C2C2C;
    padding: 15px 15px;
    display: inline-block;
    text-decoration: none;
}

.menu-icon {
    float: right;
    position: fixed;
}

.hamburger{
    background:none;
    position:fixed;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:fixed;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu {
      z-index:1000000; 
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#f1f1f1;  
      position:fixed;
      text-align:center; 
      font-size:12px;
    }

  .menu nav {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

  .menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:#dddddd 1px solid;
    }

  .menu li:hover {
      display: block;    
      background:#ffffff; 
      padding:15px 0 15px 0; 
      border-bottom:#dddddd 1px solid;
    }

  .menu ul li a { 
      text-decoration:none;  
      margin: 0px; 
      color:#666;
    }

  .menu ul li a:hover {  
      color: #666; 
      text-decoration:none;
    }

  .menu a {
      text-decoration: none; 
      color:#666;
    }

  .menu a:hover {
      text-decoration:none; 
      color:#666;
    }


a {
    color: #FA4659;
    text-decoration: none;
 }

/* visited link */
/* a:visited {
    color: green;
} */

/* mouse over link */
a:hover {
    color: #33CCCC;
}

/* selected link */
/* a:active {
    color: blue;
} */

 #b1 {
    /* background: url(https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b63db904d2c72377ffc588f645eb45&auto=format&fit=crop&w=2550&q=80) no-repeat center center;  */
    /* background: url(https://images.unsplash.com/photo-1522092787785-60123fde65c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94d6ebf03fdc6a3c8159ac9aeceb0483&auto=format&fit=crop&w=800&q=60) no-repeat center; */
    background: url(https://images.unsplash.com/photo-1518658963559-3698900fc8a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aefc46a158500b5950d052278a793663&auto=format&fit=crop&w=1267&q=80) no-repeat center center; 
}


/* .b2 {
    width: 50%;
    float: right;
    background: url(https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b63db904d2c72377ffc588f645eb45&auto=format&fit=crop&w=2550&q=80) no-repeat center center; 
} */

.title p {
    color: #FCFCFC;
    text-align: center;
}

.section-title {
    font-size: 2rem;
}

.icon-container a p {
    font-size: .5rem;
    display:none;
}

.icon-container a:hover p {
    padding-bottom: 1rem;
    display: block;
}

