.project-link {
    margin-left: 1rem;
}

.img-wrap {
    position: relative;
    display: inline-block;
    height: 3%;
    width: 9%;
  }
  
  .img-description {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff; */
    visibility: hidden;
    opacity: 0;
    font-size: .8rem;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (min-width: 320px) {
    .project-section {
        margin: 4rem 0;
    }

    .project-info {
        font-family: 'Roboto', sans-serif;
    }

    .project-one-img {
        width: 18rem; 
        height: 11rem;
        margin-left: 3.2rem;
    }

    .icon-container {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .tech-icon-mongo {
        width: 2.2rem;
        /* padding: 1rem 1rem; */
    }
    
    .tech-icon-express {
        margin-left: -.5rem;
        width: 3.5rem;
    }
    
    .tech-icon-react {
        width: 3.2rem;
    }
    
    .tech-icon-node {
        margin-left: .5rem;
        width: 2.5rem;
    }

    .github-link {
        padding-left: 1rem;
    }

    .github-icon {
        width: 1rem;
    }

    .project-wrapper {
        margin-bottom: 5rem;
    }

    .project-two-img {
        width: 7rem;
        margin-left: 8.2rem;
    }

    .project-three-img {
        width: 18rem; 
        height: 11rem;
        margin-left: 3.2rem;
    }

    .project-four-img {
        width: 18rem; 
        height: 11rem;
        margin-left: 3.2rem;
    }
}
@media only screen and (min-width: 414px) {
    .project-one-img {
        margin-left: 4.2rem;
        height: 12rem;
    }

    .project-two-img {
        margin-left: 9.2rem;
    }

    .project-three-img {
        margin-left: 4.2rem;
        height: 12rem;
    }

    .project-four-img {
        margin-left: 4.2rem;
        height: 12rem;
    }
}

@media only screen and (min-width: 640px) {
    .project-section {
        margin-top: 8rem;
    }

    .project-info {
        padding: 0 3rem;
        font-family: 'Roboto', sans-serif;
    }

    .project-one-img {
        width: 32rem;
        margin-left: 5.2rem;
    }

    .icon-container {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .tech-icon-mongo {
        width: 2.9rem;
    }
    
    .tech-icon-express {
        width: 4.5rem;
    }
    
    .tech-icon-react {
        width: 4.2rem;
    }
    
    .tech-icon-node {
        width: 3.2rem;
    }
    .github-icon {
        width: 1rem;
    }

    .project-two-img {
        width: 10rem;
        margin-left: 16.2rem;
    }

    .project-three-img {
        width: 32rem;
        margin-left: 5.2rem;
    }

    .project-four-img {
        width: 32rem;
        margin-left: 5.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .project-section {
        margin-top: 13rem;
    }

    .project-one-img {
        margin-left: 8.2rem;
        height: 20rem;
    }

    .project-info {
        padding: 1rem 6rem;
    }

    .project-two-img {
        margin-left: 19.2rem;
    }

    .project-three-img {
        margin-left: 7.2rem;
        height: 20rem;
    }

    .project-four-img {
        margin-left: 7.2rem;
        height: 20rem;
    }
}

@media only screen and (min-width: 960px) {
    .project-section {
        margin: 5rem 0;
    }

    .project-info {
        float: right;
        width: 34rem;
        margin-right: 10rem;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .project-wrapper {
        margin-bottom: 8rem;
    }

    .project-one-img {
        width: 30rem;
        margin-left: 1.2rem;
    }

    .icon-container {
        margin-left: 0;
    }

    .tech-icon-mongo {
        width: 2.8rem;
    }
    
    .tech-icon-express {
        margin-left: -7px;
        width: 4.5rem;
    }
    
    .tech-icon-react {
        margin-left: 3px;
        width: 4.2rem;
    }
    
    .tech-icon-node {
        margin-left: 11px;
        width: 3.2rem;
    }

    .github-icon {
        width: 1rem;
    }

    .project-two-img {
        width: 11rem;
        margin-left: 10rem;
    }

    .project-three-img {
        width: 33rem;
        margin-left: 1.2rem;
    }

    .project-four-img {
        width: 33rem;
        margin-left: 1.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .project-section {
        margin: 8rem 0;
    }

    .project-one-img {
        width: 26rem;
        height: 18rem;
        margin-left: 1rem;
    }

    .project-info {
        float: right;
        width: 35rem;
        margin-right: 1rem;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .project-two-img {
        width: 11rem;
        margin-left: 9rem;
    }

    .project-three-img {
        width: 26rem;
        height: 18rem;
        margin-left: 1rem;
    }

    .project-four-img {
        width: 26rem;
        height: 18rem;
        margin-left: 1rem;
    }

    .project-margin-bottom {
        margin-bottom: 13rem;
    }
}

@media only screen and (min-width: 1440px) {
    .project-one-img {
        width: 32rem;
        margin-left: 7rem;
    }

    .project-info {
        margin-right: 7rem;
    }

    .project-two-img {
        margin-left: 17rem;
    }

    .project-three-img {
        width: 32rem;
        margin-left: 7rem;
    }

    .project-four-img {
        width: 32rem;
        margin-left: 7rem;
    }
}



.project-section h2 {
    width: 100%; 
    text-align: center; 
    margin: 10px 0 20px; 
 } 
 

.tech-stack {
    font-weight: 800;
    padding-top: 1rem;
    padding-left: 1rem;
}
