@media only screen and (min-width: 320px) {
    .project-section {
        margin: 4rem 0;
    }

    .project-info {
        font-family: 'Roboto', sans-serif;
    }

    .project-one-img {
        width: 18rem; 
        margin-left: 1.2rem;
    }

    .icon-container {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .tech-icon-mongo {
        width: 2.2rem;
        /* padding: 1rem 1rem; */
    }
    
    .tech-icon-express {
        width: 3.5rem;
    }
    
    .tech-icon-react {
        width: 3.2rem;
    }
    
    .tech-icon-node {
        width: 2.2rem;
    }

    .github-link {
        padding-left: 1rem;
    }

    .github-icon {
        width: 1rem;
    }

    .project-wrapper {
        margin-bottom: 5rem;
    }

    .project-two-img {
        width: 7rem;
        margin-left: 7.2rem;
    }

    .project-three-img {
        width: 18rem; 
        margin-left: 1.2rem;
    }

    .project-four-img {
        width: 18rem; 
        margin-left: 1.2rem;
    }
}

@media only screen and (min-width: 640px) {
    .project-section {
        margin-top: 8rem;
    }

    .project-info {
        padding: 0 3rem;
        font-family: 'Roboto', sans-serif;
    }

    .project-one-img {
        width: 32rem;
        margin-left: 5.2rem;
    }

    .icon-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tech-icon-mongo {
        width: 2.9rem;
    }
    
    .tech-icon-express {
        width: 4.5rem;
    }
    
    .tech-icon-react {
        width: 4.2rem;
    }
    
    .tech-icon-node {
        width: 3.2rem;
    }
    .github-icon {
        width: 1rem;
    }

    .project-two-img {
        width: 10rem;
        margin-left: 16.2rem;
    }

    .project-three-img {
        width: 32rem;
        margin-left: 5.2rem;
    }

    .project-four-img {
        width: 32rem;
        margin-left: 5.2rem;
    }
}

@media only screen and (min-width: 960px) {
    .project-section {
        margin: 5rem 0;
    }

    .project-info {
        float: right;
        width: 34rem;
        margin-right: 10rem;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .project-wrapper {
        margin-bottom: 8rem;
    }

    .project-one-img {
        width: 30rem;
        margin-left: 1.2rem;
    }

    .icon-container {
        margin-left: 0;
    }

    .tech-icon-mongo {
        width: 2.8rem;
    }
    
    .tech-icon-express {
        width: 4.5rem;
    }
    
    .tech-icon-react {
        width: 4.2rem;
    }
    
    .tech-icon-node {
        width: 3.2rem;
    }

    .github-icon {
        width: 1rem;
    }

    .project-two-img {
        width: 11rem;
        margin-left: 10rem;
    }

    .project-three-img {
        width: 33rem;
        margin-left: 1.2rem;
    }

    .project-four-img {
        width: 33rem;
        margin-left: 1.2rem;
    }
}



.project-section h2 {
    width: 100%; 
    text-align: center; 
    /* border-bottom: 1px solid #FA4659; 
    line-height: 0.1em; */
    margin: 10px 0 20px; 
 } 
 
/* .project-container {
    padding: 100px 130px 200px;
} */

/* .project-wrapper {
    background-color: #FCFCFC;
    margin: 20px 0;
} */

/* .hover-box {
    background-image: url(https://user-images.githubusercontent.com/24361293/42062664-13bb2546-7ae3-11e8-896e-398cde45e59a.png);
} */



.project-box-one, .project-box-two, .project-box-three, .project-box-four {
    width: 50%;
    height: 250px;
    margin: 20px 20px;
    background-color: #FCFCFC;
}

.project-container .project-box-one .hover-box {
    position: relative;
    left: -100;
    height: 100%;
}

.project-container .project-box-one:hover .hover-box {
    background: #33CCCC;
    transition: all .7s ease;
}

.project-container .project-box-two .hover-box {
    position: relative;
    left: -100;
    height: 100%;
}

.project-container .project-box-two:hover .hover-box {
    background: #FA4659;
    transition: all .7s ease;
}

.project-container .project-box-three .hover-box {
    position: relative;
    left: -100;
    height: 100%;
}

.project-container .project-box-three:hover .hover-box {
    background: #33CCCC;
    transition: all .7s ease;
}

.project-container .project-box-four .hover-box {
    position: relative;
    left: -100;
    height: 100%;
}

.project-container .project-box-four:hover .hover-box {
    background: #FA4659;
    transition: all .7s ease;
}

.tech-stack {
    font-weight: 800;
    padding-top: 1rem;
    padding-left: 1rem;
}
